@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;
}

menu { 
    display: none;
}

article {
    line-height: 1.5em;
    font-size: 1.3em;
}

article::after {
    content: 'Inicio de Midia Querry finalmente!';
}